<style>
  .color-controls {
    all: unset;
    display: flex;
  }

  .color-splotch {
    appearance: none;
    height: 8cqw;
    aspect-ratio: 1;
    margin-left: 3%;
    border-radius: 50%;
    box-shadow: 0 0.3cqw 1cqw rgba(0, 0, 0, 0.2);
  }
</style>

<fieldset class="color-controls">
  <input
    type="radio"
    aria-label="Set jar color to green"
    name="selected-color"
    class="color-splotch"
    value="{{coloryes}}"
  />

  <input
    type="radio"
    aria-label="Set jar color to yellow"
    name="selected-color"
    value="{{colormaybe}}"
    class="color-splotch"
    checked
  />

  <input
    type="radio"
    aria-label="Set jar color to red"
    name="selected-color"
    class="color-splotch"
    value="{{colorno}}"
  />
</fieldset>
