<style>
  .page-nav {
    margin-bottom: 20px;
    height: 1.5rem;
    display: flex;
    align-items: center;
    background-color: #1d60ff;
    padding: 0.5rem;
    margin-bottom: 3rem;
    box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
  }

  .page-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .page-nav li {
    margin: 0 1rem;
  }

  .page-nav a {
    color: #ffc1c1;
    text-decoration: none;
  }
</style>

<nav class="page-nav">
  <ul>
    <li><a href="#help">Help</a></li>
  </ul>
</nav>
